@font-face {
    font-family: 'TrebuchetMS-Bold';
    src: url('../fonts/Trebuchet/TrebuchetMS-Bold.woff') format('woff'),
         url('../fonts/Trebuchet/TrebuchetMS-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TrebuchetMS';
    src: url('../fonts/Trebuchet/TrebuchetMS.woff') format('woff'),
         url('../fonts/Trebuchet/TrebuchetMS.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'Exo-thin';
  src: url('../fonts/Exo/exo-20-thin.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}