%trebuchet {
    font-family: 'TrebuchetMS';
}

%trebuchet-bold {
    font-family: 'TrebuchetMS-Bold';
}

%exo-thin {
    font-family: 'Exo-thin';
}

$white: #fff;
$dimgray: #666;
$black: #000;
$blue: #1698d9;
$selected: #d91667;
$selectedHover: #e62e7a;
$whitesmoke: #b3b3b3;
$lightgray: #f2f2f2;
$yellow: #ffff66;


